<h1> Academic Program Assessment Maturity Rubric </h1>
<%= form_for(@assessment) do |f| %>
    <% if @assessment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

          <ul>
            <% @assessment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-inputs">
      <%= f.label "Department" %><br>
      <%= f.autocomplete_field :department_description, assessments_autocomplete_department_description_path %>
    </div>
    <div class="form-inputs">
      <%= f.label "Degree" %><br>
      <%= f.autocomplete_field :program_description, assessments_autocomplete_program_description_path %>
    </div>
    <div class="form-inputs">
      <%= f.label "Semester" %><br>
      <%= f.autocomplete_field :period_description, assessments_autocomplete_period_description_path %>
    </div>
    <div class="field">
      <%= f.label "User" %><br />
      <%= @users = User.all
          collection_select(:assessment,:user_id, @users,:id,:email) %>
    </div>
    </br>
    <div class="field">
      <%= f.label :completed %><br>
      <%= f.check_box :completed %>
    </div>


    <% @assessment.entries.each do |entry| %>
        <%= f.fields_for :entries, entry do |ef| %>
            <h3> <%= Assessmenttype.find(entry.assessmenttype_id).attype %> </h3>
            <div class="field">
              <%= ef.label "Initial Rating (0-3)" %><br>
              <%= ef.select :initial_rating, (0..3) %>
            </div>
            <div class="field">
              <%= ef.label "Initial Comment" %><br>
              <%= ef.text_field :initial_comment %>
            </div>
            <div class="field">
              <%= ef.label "Final Rating (0-3)" %><br>
              <%= ef.select :final_rating, (0..3) %>
            </div>
            <div class="field">
              <%= ef.label "Final Comment" %><br>
              <%= ef.text_field :final_comment %>
            </div>
        <% end %>
    <% end %>
    </br>
    <div class="actions">
      <%= f.submit "Update Assessment", :class => "button"%>
    </div>
    </br>
<% end %>
