<h1>Listing Assessments</h1>

<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Degree</th>
      <th>Semester</th>
      <th>User</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessments.each do |assessment| %>
      <tr>
        <td><%= assessment.department.description %></td>
        <td><%= assessment.program.description %></td>
        <td><%= assessment.period.description %></td>
        <td><%= assessment.user.email %></td>
        <td><%= assessment.completed %></td>
        <td><%= link_to 'Edit', edit_assessment_path(assessment) %></td>
        <td><%= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<%= link_to 'New Assessment', new_assessment_path %>
<br/>
<br/>
