<%= form_for(@assessmenttype) do |f| %>
  <% if @assessmenttype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessmenttype.errors.count, "error") %> prohibited this assessmenttype from being saved:</h2>

      <ul>
      <% @assessmenttype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attype %><br>
    <%= f.text_field :attype %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
