<p id="notice"><%= notice %></p>

<h1>Listing Assessmenttypes</h1>

<table>
  <thead>
    <tr>
      <th>Attype</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessmenttypes.each do |assessmenttype| %>
      <tr>
        <td><%= assessmenttype.attype %></td>
        <td><%= assessmenttype.description %></td>
        <td><%= link_to 'Show', assessmenttype %></td>
        <td><%= link_to 'Edit', edit_assessmenttype_path(assessmenttype) %></td>
        <td><%= link_to 'Destroy', assessmenttype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assessmenttype', new_assessmenttype_path %>
