<p id="notice"><%= notice %></p>

<p>
  <strong>Attype:</strong>
  <%= @assessmenttype.attype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assessmenttype.description %>
</p>

<%= link_to 'Edit', edit_assessmenttype_path(@assessmenttype) %> |
<%= link_to 'Back', assessmenttypes_path %>
