<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assessment_id %><br>
    <%= f.text_field :assessment_id %>
  </div>
  <div class="field">
    <%= f.label :assessmenttype_id %><br>
    <%= f.text_field :assessmenttype_id %>
  </div>
  <div class="field">
    <%= f.label :initial_comment %><br>
    <%= f.text_field :initial_comment %>
  </div>
  <div class="field">
    <%= f.label :initial_rating %><br>
    <%= f.number_field :initial_rating %>
  </div>
  <div class="field">
    <%= f.label :final_comment %><br>
    <%= f.text_field :final_comment %>
  </div>
  <div class="field">
    <%= f.label :final_rating %><br>
    <%= f.number_field :final_rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
