<p id="notice"><%= notice %></p>

<h1>Listing Entries</h1>

<table>
  <thead>
    <tr>
      <th>Assessment</th>
      <th>Assessmenttype</th>
      <th>Initial comment</th>
      <th>Initial rating</th>
      <th>Final comment</th>
      <th>Final rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.assessment %></td>
        <td><%= entry.assessmenttype %></td>
        <td><%= entry.initial_comment %></td>
        <td><%= entry.initial_rating %></td>
        <td><%= entry.final_comment %></td>
        <td><%= entry.final_rating %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
