<p id="notice"><%= notice %></p>

<p>
  <strong>Assessment:</strong>
  <%= @entry.assessment %>
</p>

<p>
  <strong>Assessmenttype:</strong>
  <%= @entry.assessmenttype %>
</p>

<p>
  <strong>Initial comment:</strong>
  <%= @entry.initial_comment %>
</p>

<p>
  <strong>Initial rating:</strong>
  <%= @entry.initial_rating %>
</p>

<p>
  <strong>Final comment:</strong>
  <%= @entry.final_comment %>
</p>

<p>
  <strong>Final rating:</strong>
  <%= @entry.final_rating %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
