<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @program.department %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
