<p id="notice"><%= notice %></p>

<p>
  <strong>College:</strong>
  <%= @department.college %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
