!!!
%html
  %head
    %h1 Academic Program Assessment Maturity Rubric
  .wrapper_with_padding
    - [:notice]
    #div.centre
      %h3 Program
      #div.rubric
        - @entries.each do |entry|
          %h3 entry
          %br/
          %p Initial Rating (0-3)
          %p Initial Comment
          %p Final Rating (0-3)
          %p Final Comment
          %br/
    %br/
    %br/
    %br/
