#banner
  .banner_content
    %h2 My Wallet
    %h3 Helping you to track your spending.
    %br/
    %link_to= link_to "Sign Up", new_user_registration_path, class: "button"
    %link_to= link_to "Log In", new_user_session_path, class: "button"
