$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #33CD99;
$turquoise: #40E0D0;
$purple: #663399;
$red: #FF0000;
$white: #f9f9f9;
$cherry: #c10037;
$unm-blue: #00356A;
$black: #000000;


@mixin bold_font {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

html, .container, .wrapper, .wrapper_with_padding {
  /*background-color: $turquoise;*/
  background-color: $white;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
  padding-top: 25rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_with_padding {
  width: 80%;
  margin: 0 auto;
  padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

a {
  color: $purple;
  text-decoration: none;
  &:hover {
    color: $dark_gray;
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid $light_gray;
  border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
}

textarea {
  min-height: 200px;
}

header {
  background: $cherry url('header.JPG') top center no-repeat;
  position: fixed;
  top: 0;
  width: 86%;
  padding: 10px 0;
  /*border-bottom: 7px solid $purple;*/
  .header_container {
    width: 80%;
    margin: 0 auto;
  }
  nav {
    float: left;
    color: $white;
    background: $cherry;
    margin-top: 100px;
    a {
      text-decoration: none;
      color: white;
      /*font-family: Lato, sans-serif;*/
      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
      /*font-size: 1.5rem;*/
      font-size: 0.8em;
      line-height: 1.5;
      margin-left: 1rem;
      &:hover {
        /*color: $turquoise;*/
        color: white;
      }
    }
  }
}

#footer {
    background: #c10037 url('//webcore.unm.edu/v2/images/mesa-mountain-red.png') bottom right no-repeat;
    color: #fff;
    border-top: 3px solid #ccc;
    padding: 30px 0;
    margin-top: 0;
    font-size: .9em;
    a {
      color: #fff;
    }
}
#footer-container
{
  width: 80%;
  margin: 0 auto;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fa-facebook-square:before {
    content: "\f082";
}

button, .button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2B2E2E;
  font-size: 20px;
  background: #c10037;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button, .button:hover {
  background: #C0C1C1;
  text-decoration: none;
}
