/*
#banner {
  background-image: url(image_path("1740.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 500px;
  display: table;
  .banner_content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    h2 {
      font-weight: bold;
    }
  }
}
*/

/*
#banner {
  background-image: url(//webcore.unm.edu/v2/images/mesa-mountain-red.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 500px;
  display: table;
  .banner_content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    h2 {
      font-weight: bold;
    }
  }
}
*/
