<!DOCTYPE html>
<html>
<head>
  <title>Maturity Rubric</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    
    <br/>
    <br/>
    <nav>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        <%= link_to "Assessments", assessments_path, :class => 'navbar-link'  %>
      </p>
    </nav>
  </header>

  <container>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </container>

  <div id="footer">
    <div id ="footer-container">
      <div class="row">
        <div class="col-sm-4">
          <h4>Physical Address</h4>
          Scholes Hall<br/>
          Room 240<br/><br/>
          Phone: (505) 277-4130<br/>
          Fax: (505) 277-8275<br/><br/>
          Email: <a href="mailto:assess@unm.edu">assess@unm.edu</a>
        </div>
        <div class="col-sm-4">
          <h4>Mailing Address</h4>
          Office of Assessment<br/>
          MSC05 3400<br/>
          1 University of New Mexico<br/>
          Albuquerque, NM 87131-0001
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-8">
          <p><a href="http://www.unm.edu">
            <img alt="The University of New Mexico" src="https://webcore.unm.edu/v2/images/unm-transparent-white.png"/></a></p>
            <p><small>&#169; The University of New Mexico<br/>
              Albuquerque, NM 87131, (505) 277-0111<br/>
              New Mexico's Flagship University</small></p>
            </div>
            <div class="col-md-4">
              <!--
              <ul class="list-inline">
              <li>
              <a href="https://www.facebook.com/universityofnewmexico" title="UNM on Facebook">
              <span class="fa fa-facebook-square fa-2x">&#160;</span></a>
            </li>
            <li>
            <a href="http://instagram.com/uofnm" title="UNM on Instagram">
            <span class="fa fa-instagram fa-2x">&#160;</span>
          </a>
        </li>
        <li>
        <a href="https://twitter.com/unm" title="UNM on Twitter">
        <span class="fa fa-twitter-square fa-2x">&#160;</span>
      </a>
    </li>
    <li>
    <a href="http://uofnm.tumblr.com" title="UNM on Tumblr">
    <span class="fa fa-tumblr-square fa-2x">&#160;</span>
  </a>
</li>
<li>
<a href="http://www.youtube.com/user/unmlive" title="UNM on YouTube">
<span class="fa fa-youtube-square fa-2x">&#160;</span>
</a>
</li>
</ul>
-->
<p>More at <a href="http://social.unm.edu" title="UNM Social Media Directory &amp; Information">social.unm.edu</a></p>
<ul class="list-inline" id="unm_footer_links">
  <li><a href="http://www.unm.edu/accessibility.html">Accessibility</a></li>
  <li><a href="http://www.unm.edu/legal.html">Legal</a></li>
  <li><a href="http://www.unm.edu/contactunm.html">Contact UNM</a></li>
  <li><a href="http://nmhedss2.state.nm.us/Dashboard/index.aspx?ID=21">New Mexico Higher Education Dashboard</a></li></ul>
</div>
</div>
</div>
</div>
</div>
<div id="totop"><span class="fa fa-arrow-circle-up"></span></div>
</body>
</html>
